<style>

p.dela{
font-family: 'Dela Gothic One', sans-serif;
}
p.dela{
font-family: 'Dela Gothic One', sans-serif;
}
p.Dot{
font-family: 'DotGothic16', sans-serif;
text-align:center;
color:4100B9;
}
h3.Dot{
font-family: 'DotGothic16', sans-serif;
text-align:cente;
  }
p.hude{
font-family: 'Yuji Boku', serif;
text-align:center
}
h1.magic{
text-align:center;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;
}
p.mini{
  font-size:50%
      }
body{
 background-color:6891FF;
}
</style>
