<style>

p.dela{
font-family: 'Dela Gothic One', sans-serif;
}

html{
height:100%;
}

body{
 background-color:7AA2E3;
height:100%;
min-height:100%;
margin:0px;
}
div.inner{
padding-bottom:50px;}


div.wrapper{
min-height:100%;
position:relative;
bottom:0px;
margin:0px;
}

p.dela{
font-family: 'Dela Gothic One', sans-serif;
}

p.Dot{
font-family: 'DotGothic16', sans-serif;
text-align:center;
color:4100B9;
}

h3.Dot{
font-family: 'DotGothic16', sans-serif;
text-align:cente;
  }

p.hude{
font-family: 'Yuji Boku', serif;
text-align:center
}

h1{
text-align:center;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;
}

p.mini{
  font-size:50%
      }

div.center>p>a{
z-index:5;
text-align:center;
 border-radius: 1px;
  background-color:6891FF;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;} 
div.center>p{text-align:center;
}

div.center > strong > p > a{
z-index:6;
text-align:center;
 border-radius: 1px;
  background-color:6891FF;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;}
div.center > strong > p{text-align:center;}



div.btn > a{text-align:center;
 border-radius: 5px;
  background-color:6891FF;
  padding: 10px;
  text-decoration: none;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;
font-size:40px
}
div.btn2 > a{text-align:center;
 border-radius: 5px;
  background-color:6891FF;
  padding: 10px;
  text-decoration: none;
color:#FFD800
font-family: 'Yusei Magic', sans-serif;
font-size:40px
}

.nn > a{
text-align:center;
background-color:6891FF;
text-decoration: none;
color:#FFD800;
font-family: 'Yusei Magic', sans-serif;
font-size:40px
}

div.hosoku{color:
}

div.btn{
text-align:center;
}
header.normal{
margin:0px;
  z-index: 999;
  width: 100%;
  box-sizing: border-box;
paddinf: 20px 40px;f  transition: padding .3s;
background-color:6891FF;
border-bottom-style:solid;
}
div.btn2{
position:flixed;
top:0
left:0
}


header.nn {
z-index:999;
position: fixed;
  top:0;
  left: 0;
  width: 100%;
height: 11%;
  box-sizing: border-box;
paddinf: 20px 40px;f  transition: padding .3s;
background-color:6891FF;
border-bottom-style:solid;

}

div.ibennto{
position:relative;
top:5px;
left:40px;
width: 325px;
height:224px;
  box-sizing: border-box;
paddinf: 20px 40px;
  transition: padding .3s;
background-color:6AD4DD;
border-style:solid;
border-color:#87CEFA;
border-size:2px;
}

div.osirase{
background-color:6AD4DD;
width:325px;
height:221px;
z-index:100;
position:relative;
bottom:219px;
left:375px;
border-style:solid;
border-size:2px;
border-color:#87CEFA;
}

div.etc{
background-color:6AD4DD;
width:325px;
height:220px;
z-index:100;
position:relative;
bottom:444px;
left:715px;
border-style:solid;
border-size:2px;
border-color:#87CEFA;
}
div.member{
text-align:center;
}
div.member>p>a{
font-family: 'Dela Gothic One', sans-serif;
text-align:center;
position:relative;
bottom:710px;
z-index:5;
text-align:center;
 border-radius: 1px;
color:#FFD800;
}


footer.osirase{
padding: 0px 10px;
position:relative;
top:45;
right:0;
  width: 100%;
  box-sizing: border-box;
  transition: padding .3s;
background-color:white
}

footer.fm{
padding: 0px 10px;
position:relative;
top:200;
right:0;
  width: 100%;
  box-sizing: border-box;
  transition: padding .3s;
background-color:white
}

.ff{
z-index:999;
position:absolute;
bottom:0px;
height:50px;
background-color:white;
width:100%;
}

article.all{
position: relative;
top:20px;
left:0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
paddinf: 20px 40px;
  transition: padding .3s;
}

article.main{
position: relative;
top: 60;
}
.home{
position: fixed;
bottom:50;
right:0;
}
.hh{
position: fixed;
bottom:0;
left:0;
}





</style>
